body{
  margin: 0%;
  cursor: url('/image/cursor/pinkandbluestars/Pink\ and\ blue\ star\ normal.cur'), auto;
}
.header {
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
}


/*
  border: 6px solid royalblue;
*/
.header-items{
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    width: auto;
}

.header-item{
    margin-left: 10px;
}

a {
    margin-left: 10px;
    color: white;
    text-decoration-line: none;
}

table {
  background-color: black;
  width: 100%;
  border-top: 1px solid white;
  border-collapse: collapse;
}
th, td {
  color: white;
  border-bottom: 1px solid white;
  
}

.MainBox { 
  cursor: url('../image/cursor/VIIchan.png');
  display: flex;
  justify-content: center;
  height: auto;
  width: auto;
  overflow-y: hidden;
  text-align: center;
}


.Nav{
  height: 100%;
  width: auto;
}

.Nav-item{
  border: 1px solid white;
  background-color: black;
  text-align: left;
  height: 100%;
  width: auto;
}

.MainBox-center {
  height: auto;
  width: 62%;
}


.MainBox-center-MainDoor{
  height: 1080px;
  width: auto;
}

.MainBox-center-detail{
  float: left;
  height: auto;
  width: auto;
}

.MainBox-center-vacuity{
  float: left;
  height: 50px;
  width: 50px;
}

#BackToTop {
  bottom: 0;
  right: 0;
  position: fixed;
  opacity: 0.5;
  transition: all .5s;
  cursor: pointer;
  transform: scale(.5, .5);
  transform-origin: right bottom;
  display: none; 
  z-index: 1;
}

@media (min-width: 1000px) {
  #BackToTop {
      display: block;
  }
}

@media (min-width: 768px) and (max-width: 999px) {
  #BackToTop {
      display: none; 
  }
}


#BackToTop:hover {
  opacity: 1;
}

#maomao {position: fixed; bottom: 40px; right: -5px; width: 57px; height: 70px; background-image: url(/image/Icon/mao.svg); background-position: center; background-size: cover; background-repeat: no-repeat; transition: background .3s;z-index: 2;}
#maomao:active {background-position: 60px 50%;}

.outer {
  overflow-x: hidden;
    width: 1243px;
    height: auto;
    margin: 0 auto;
  }
  
  .inner {
    padding: 0 16px;
  }
  
  .inner-list {
    display: flex;
    transition: .3s ease-out;
    height: 100%;
  }

.outer2 {
    border-radius: 50px;
    border-left: 6px solid rgb(116, 248, 242);
    border-bottom: 6px solid rgb(116, 248, 242);
    width: 800px;
    overflow: hidden;
    position: relative;
  }

  .inner-list2 {
    display: flex;
    transition: margin-left 0.5s ease-in-out;
  }

  .inner2 {
    flex: 0 0 auto;
}